*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.App{
    position: relative;
}

main{
    display: grid;
    grid: 1fr;
    place-items: center;
    gap: 30px;
    width: calc(87% + 30px);;
    margin: auto;
    padding: 50px 0;
}

@media (min-width: 768px) { 
    main {
        grid: 2fr / 1fr 1fr;
    }
}

.cards_con{
    width: 90%;
    height: 509px;
    display: grid;
    align-self: stretch;
    gap: 20px;
}

@media (min-width: 1440px) { 
    .cards_con {
        width: 50%;
    }
}
.green, .red{
    font-weight: bold;
}
.green{
    color: green;
}

.red{
    color: red;
}

.porcentaje{
    background:white;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.cripto-info {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.cripto-info img {
    width: 30px;
    height: 30px;
}

.cripto-title{
    display: flex;
    align-items: center;
    color: white;
}

.cripto-title h2{
    text-transform: uppercase;
    font-size: 17px;
    margin-left: 20px;
}

.cripto-first .graphic{
    position: relative;
    height: 250px;
    background: white;
    margin: 20px;
    border-radius: 5px;
    padding: 5px;
}
