.card{
    display: grid;
    grid: 1fr;
    place-items: center;
    gap: 10px;
    background-color: #02735E;
    width: 100%;
    border-radius: 20px;
    padding: 15px 20px;
}

@media (min-width: 1440) { 
    .card {
        width: 80%;
    }
}
.cripto-info .card-img{
    width: 50px;
    height: 50px;
}

.graphic .graph{
    width: 100%;
    height: 100%;
    display: grid;
}